.container {
  max-width: 1500px;
  margin: 2rem auto;
  padding: 0 2rem;

  @include responsive('sm') {
    padding: 0 1rem;
  }

  &--main {
    padding: 4rem 6rem;

    @include responsive('md') {
      padding: 2rem 3rem;
    }

    @include responsive('sm') {
      padding: 1rem 1.5rem;
    }
  }
}

.hero {
  margin: 2em 2em 10em 2em;

  @include responsive("md") {
    margin: 2em 2em 5em 2em;
  }

  @include responsive("sm") {
    margin: 2em 2em 4em 2em;
  }
}