.container {
  max-width: 1500px;
  margin: 2rem auto;
  padding: 0 2rem;

  @include responsive('sm') {
    padding: 0 1rem;
  }
}

.hero {
  margin: 8em 12em;

  @include responsive("lg") {
    margin: 5em;
  }

  @include responsive("sm") {
    margin: 4em 1.5em;
  }
}