.project__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.project__preview {
  min-width: 500px;
  max-width: 650px;
  flex-direction: column;
  flex: auto;

  &--img {
    @extend .rounded-md;
    overflow: hidden;

    img {
      transition: all 0.3s !important;
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

/* Project-post scss */
.project-post {
  &__wrapper {
    margin: 0 10em;

    @include responsive("lg") {
      margin: 0 4em;
    }

    @include responsive("md") {
      margin: 0 2em;
    }

    @include responsive("sm") {
      margin: 0;
    }
  }

  &__technologies {
    @extend .heading-md;

    @include responsive("md") {
      font-size: var(--heading-sm-font-size);
    }
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    @extend .text-grey-600, .mb-3;
  }

  br {display:block}
}