.project__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2em;
}

.project__preview {
  min-width: 500px;
  flex-direction: column;
  flex: 1;

  &--img {
    @extend .rounded-md;
    margin: 0 auto;
    overflow: hidden;

    img {
      transition: all 0.3s !important;
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

/* Project-post scss */
.project-post {
  &__wrapper {
    margin: 0 10em;
  }

  &__top-bar {
    display: flex;
    justify-content: space-between;
    @extend .text-grey-600, .mb-3;
  }
}