@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Quicksand-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Quicksand-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Quicksand-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Quicksand-Light.ttf") format("truetype");
  font-display: swap;
}

h1 {
  @extend .heading-4xl;
}
h2 {
  @extend .heading-3xl;
}
h3 {
  @extend .heading-2xl;
}
h4 {
  @extend .heading-xl;
}
p {
  @extend .heading-sm, .text-grey-600;
}