@import "global/reset";
@import "global/variables";
@import "global/media";
@import "global/typography";
@import "global/modifiers";

@import "blocks/container";
@import "blocks/navigation";
@import "blocks/project";
@import "blocks/slideshow";
@import "blocks/about";

html {
  a {
    text-decoration: none;
    transition: color ease-in-out .15s;
    @extend .font-semibold, .text-grey-600;

    &:hover {
      @extend .text-grey-700;
    }
  }
}

body {
  @extend .text-black-800;
  font-family: "Quicksand", serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}