@import "global/reset";
@import "global/variables";
@import "global/typography";
@import "global/modifiers";
@import "global/media";

@import "blocks/container";
@import "blocks/navigation";

html {
  a {
    text-decoration: none;
  }
}

body {
  @extend .text-black-800;
  font-family: "Quicksand", serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}